/* Reset */

p, h2, input[type="checkbox"] {
    margin: 0;
}

input[type="text"] {
    width: auto;
}


input[type="text"]:focus, input[type="number"]:focus, select:focus {
    box-shadow: none;
    outline: none;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 0;
    color: #333;
    padding: 0 0.5em;
}

select {
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 0;
    color: #333;
    /* padding: 0 0.4em; */
}

.editor  {
    background: rgba(0, 0, 0, 0.10);
    height: 100%;
    min-height: 10em;
    padding: 1em;
}

.editor-content > p {
    color: #333;
}

/* Helper */

.mt-1 {
    margin-top: 1em;
}

/* General */

.content {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    padding: 0 2em;
    justify-content: space-around;
    width: 100%;
}

.section {
    align-items: center;
    border-bottom: 1px solid #0A5394;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.section img {
    border: none;
    filter: brightness(25%);
    margin-right: 4px;
}

.section h2 {
    border: none;
    color: #0A5394;
    letter-spacing: 0.1em;
}

.section-title {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.section-form {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.section-form select {
    background-color: transparent;
}

.sub-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.sub-section img {
    border: none;
    filter: brightness(25%);
    margin-right: 4px;
}

.sub-section h3 {
    border: none;
    color: #333;
    margin: 0 0.5em 0 0.3em;
}

.traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0.5em 0;
}

.traits-action {
    background-color: #D7D3D1;
    border: 1px solid #57534D;
    color: #57534D;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
}

.traits-action > a {
    margin-left: 0.5em;
}


.traits > p {
    background-color: #D7D3D1;
    border: 1px solid #57534D;
    color: #57534D;
    cursor: pointer;
    font-size: 0.9em;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
}

/* Logo, Info, Level and Experience */

.logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 1em;
    width: 10%;
}

.logo h1 {
    border-bottom: 0;
    margin: 0;
}

.info {
    margin-right: 1em;
    width: 60%;
}

.info-row {
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
}

.info-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.info-form > label {
    color: #0A5394;
    width: 6em;
}

.info-form > input, .info-form > select {
    background: transparent;
    color: #333;
    width: 10em;
}

.level {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    width: 15%;
}

.level > h2 {
    border: none;
    color: #0A5394;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.level-diamond {
    border: 1px solid #333;
    margin: 0 12px;
    text-align: center;
    transform:rotate(45deg);
    height: 60px;
    width: 60px;
}

.level-diamond-value {
    color: #333;
    display: table-cell;
    transform: rotate(-45deg);
    vertical-align: middle;
    height: 60px;
    width: 60px;
}

.level-diamond-value input {
    background-color: transparent;
    border: none;
    color: #333;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    padding-bottom: 0.4em;
    text-align: center;
}

.xp {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.xp > h2 {
    border: none;
    color: #0A5394;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.xp-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.xp-row > input {
    margin-right: 0.5em;
    height: 1.4em;
}

/* Avatar, Resources and Essences */

.avatar {
    align-items: center;
    
    display: flex;
    width: auto;
    z-index: 1;
}

.avatar img {
    background-color: #0A5394;
    border: 1px solid #0A5394;
    border-radius: 50%;
    height: 14em;
    width: 14em;

    /* -webkit-box-shadow: -1px 1px 10px 2px #0A5394;
    box-shadow: -1px 1px 10px 2px #0A5394; */
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.38em;
    margin-right: 1em;
    width: 30%;
}

.resource-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.resource-col {
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em;
}

.resource-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.resource-form > label {
    width: 1.5em;
}

.resource-form > input {
    margin: 0 0.2em;
    text-align: center;
    width: 3em;
}

.resource-bar {
    margin-top: 0.3em;
}

.resource-bar > progress {
    border: 2px solid #333;
    margin-right: 0.5em;
    transform: skew(-20deg);
    height: 1.5em;
    width: 14em;
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: #66243B;
}

.red {
    color: #DD416B;
    font-weight: 700;
}

.red::-webkit-progress-value {
    background-color: #DD416B;
    color: #DD416B;
}

.blue {
    color: #6987CF;
    font-weight: 700;
}

.blue::-webkit-progress-value {
    background-color: #6987CF;
    color: #6987CF;
}

.green {
    color: #38761D;
    font-weight: 700;
}

.resources > hr {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: none;
}

.resource-narrative {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.resource-narrative > input {
    margin: 0 0.5em;
}

.essences {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.essences > hr {
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: none;
}

.essence-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.2em;
}

.essence-col {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-right: 0.5em;
}

.essence-form {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.essence-form label {
    border: none;
    color: #0A5394;
    font-size: 1em;
    width: 5em;
}

.essence-form select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    width: 7em;
}

.display-essences {
    display: flex;
    flex-direction: row;
    padding: 0 1em 1em 1em;
}

.display-essences > ul > li {
    margin-bottom: 0.5em;
}

.dissonances {
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
}

.dissonance-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dissonances label {
    border: none;
    color: #0A5394;
    font-size: 1em;
    /* margin-bottom: 1em; */
}

.corruption {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.corruption label {
    margin-right: 1em;
}

.corruption input{
    text-align: center;
    width: 2em;
}

/* Attributes and Careers  */

.attributes {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1em; */
    width: 100%;
}

.attributes-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.attribute-title {
    color: #0A5394;
    font-size: 1.1em;
    list-style: none;
}

.attribute-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.attribute-form > input {
    font-size: 2em;
    text-align: center;
    height: 2em;
    width: 2em;
}

.attribute-label {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.attribute-label > a {
    border: none;
    color: #0A5394;
    font-size: 1em;
}

.careers {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.career-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.career-form > a {
    border: none;
    color: #0A5394;
    font-size: 1em;
    width: 5em;
}

.career-form input {
    text-align: center;
    width: 2em;
}

.attribute-label > input[type='checkbox'], .career-form input[type='checkbox'] {
    height: 1em;
}

/* Goals */

.goals {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.goals-row {
    display: flex;
    flex-direction: row;
}

.goals-short {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 50%;
}

.goals-long {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.goals-short > h3, .goals-long > h3 {
    border-bottom: none;
    color: #333;
    font-size: 1.2em;
}

.goals-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    width: 100%;
}

.goals-form label {
    border: none;
    color: #0A5394;
    font-size: 1em;
    width: 5em;
}

.goals-form input {
    width: 100%;
}

/* Abilities and Combat  */

.abilities-and-combat {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.abilities {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 50%;
}

.ability-item {
    align-items: center;
    display: flex;
}

.ability-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;
    width: 100%;
}

.ability-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ability-row > img {
    border: 1px solid #333;
    margin-right: 0.5em;
    height: 2.5em;
    width: 2.5em;
}

.ability-row > input {
    margin-right: 0.5em;
    width: 90%;
}

.ability-row > a {
    margin-left: 0.5em;
}

.combat {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.combat-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basic-actions {
    display: flex;
    flex-direction: column;
}

/* .basic-actions-col {
    align-items: start;
    display: flex;
    flex-direction: column;
} */

.basic-actions h3 {
    border: none;
    font-size: 1.2em;
}

.basic-actions-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.basic-actions-form > a {
    border: none;
    color: #0A5394;
    font-size: 1em;
    width: 10.3em;
}

.basic-actions-form > input {
    margin: 0 0.4em;
    text-align: center;
    width: 2em;
}

.basic-actions-form > select {
    background-color: transparent;
    color: #0A5394;
    margin-right: 0.7em;
}

.ressonance-label {
    width: 5em !important;
}

.basic-actions-gap {
    margin-left: 2em;
}

.actions {
    margin-top: 1em;
}

.actions-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions-title h3 {
    border: none;
    font-size: 1.2em;
}

.action-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
    width: 100%;
}

.action-item-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.action-item-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.action-item-row > img {
    border: 1px solid #333;
    margin-right: 0.5em;
    height: 2.5em;
    width: 2.5em;
}

.action-item-row > i {
    margin: 0 0.5em;
}

.action-item-row > a {
    margin-left: 0.5em;
}

.action-item-row > input[type='text'] {
    text-align: center;
    width: 100%;
}

/* .action-item-row > input[type='number'] {
    text-align: center;
    width: 2em;    
} */

.action-item-row > select {
    text-align: center;
    width: 4em;    
}

/* .action-name {
    width: 10em !important;
} */

/* Inventary and Notes */

.inventary {
    margin-right: 2em;
    width: 50%;
}

.spaces {
    color: #333;
    margin-bottom: 1em;
}

.inventary-item {
    align-items: center;
    display: flex;
}

.inventary-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;
    width: 100%;
}

.inventary-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inventary-row > img {
    border: 1px solid #333;
    margin-right: 0.5em;
    height: 2.5em;
    width: 2.5em;
}

.inventary-row > input {
    margin-right: 0.5em;
    width: 90%;
}

.inventary-row > a {
    margin-left: 0.5em;
}

.character-notes {
    margin-bottom: 2em;
    width: 50%;
}

/* Roe Item */

.roe-item {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 0 1em;
}

.roe-item > hr {
    border-top: 1px solid #0A5394;
    border-bottom: none;
    margin-bottom: 1em;
    opacity: 0.3;
    width: 100%;
}

.roe-item-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.roe-item-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.roe-item-form {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.roe-item-form-col {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.roe-item-form > label, .roe-item-form-col > label {
    color: #0A5394;
    font-size: 1em;
    margin-right: 1em;
    min-width: 4em;
}

.roe-item-form > input[type="number"] {
    width: 4em;
}

.roe-item-form > input {
    text-align: center;
    margin-right: 1em;
    width: 10em;
}

.roe-item-form > select {
    text-align: center;
    margin-right: 1em;
    width: auto;
}

/* Chat */

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-flavor {
    background: rgba(0, 0, 0, 0.10);
    border: 1px solid #333;
    /* border-radius: 0.5em; */
    font-style: italic;
    margin-right: 0.5em;
    text-align: center;
    padding: 1em;
    width: 100%;
}

.chat > hr {
    border-top: 1px solid #0A5394;
    border-bottom: none;
    opacity: 0.3;
    width: 100%;
}

.chat-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.chat-row > img {
    margin-right: 1em;
    height: 4em;
    width: 4em;
}

.chat-col {
    align-items: top;
    display: flex;
    flex-direction: column; 
}

.chat-title {
    color: #0A5394;
    font-weight: 500;
}

.chat-roll {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.chat-roll-title {
    border-right: 0.5em solid #0A5394; 
    color: #0A5394;
    font-size: 0.9em;
    text-align: center;
    margin-right: 0.5em;
    padding: 0.1em 0.4em;
    width: 7em;
}

.chat-roll-title-advantage {
    border-right: 0.5em solid green; 
    color: green;
}

.chat-roll-title-disadvantage {
    border-right: 0.5em solid red; 
    color: red;
}

.chat-narrative-points {
    margin-top: 0.5em;
}

.chat-success {
    padding-left: 1em;
}

.chat-success > h3 {
    background: #93C47D;
    border: 0.1em solid #38761D;
    color: #333;
    font-size: 1em;
    padding: 0.1em 0.4em;
    width: fit-content;
}

.chat-success p {
    line-height: 1.5em;
}

/* Hidden Box */

#attribute-box, #essence-box {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 1em;
    padding: 1em;
}

#attribute-box > hr {
    border-top: 1px solid #0A5394;
    border-bottom: none;
    margin: 1em 0;
    opacity: 0.3;
    width: 100%;
}

.hidden-box {
    display: none;
}

.box-row {
    align-items: end;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.box-row > input[type="checkbox"] {
    margin: 0 0.5em 0.2em 0;
}

.box-col {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-right: 0.5em;
} 

.box-col > label {
    color: #0A5394;
    font-size: 1em;
    margin-bottom: 0.3em;
}

.box-col > input {
    width: 5em;
}

.box-divider {
    align-items: center;
    border-left: 1px solid #0A5394;
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    padding: 0 2em;
    height: 3em;
}

.box-divider > p {
    color: #0A5394;
    font-size: 1em;
}

/* Antagonista */

.antagonist-content {
    display: flex;
    flex-direction: column;
}

/* Forms */

.antagonist-row {
    align-items: top;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.antagonist-col {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 100%;
}

.antagonist-form-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.antagonist-form-row > label, .antagonist-form-row > a {
    color: #E06666;
    width: 6em;
}

.antagonist-form-row > input, .antagonist-form-row > select {
    text-align: center;
    width: 10em; 
}

.antagonist-form-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.antagonist-form-col > label, .antagonist-form-col > a {
    color: #E06666;
    margin-bottom: 0.5em;
    width: 10em;
}

.antagonist-form-col > input, .antagonist-form-col > select {
    width: 10em;
}