@tailwind base;
@tailwind components;
@tailwind utilities;

.roe.sheet.item form {
    display: flex;
    flex-direction: column;
}
.roe.sheet.item .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.roe.sheet.item .sheet-content .editor  {
    height: 100%;
    min-height: 40px;
}

.spell-effects {
    height: 100%;
    min-height: 40px;
}

.roe-section {
    border-bottom: 1px solid #000;
    display: flex;
}

.roe-section img {
    border: none;
    filter: brightness(25%);
    margin-right: 4px;
}

.roe-section h2 {
    border-bottom: none;
}

input[type="number"] {
    text-align: center;
}
