<section>
    <h3 class="mb-2">{{localize 'roe.general.notes'}}</h3>

    <div class="flex flex-col">
        <textarea name="system.notes" rows="8">{{data.system.notes}}</textarea>
    </div>
</section>