<header class="sheet-header">
    <h1>Ficha de Antagonista</h1>
</header>

<div class="my-4 roe-section">
    <img class="mb-1" src="https://jp.finalfantasyxvi.com/assets/images/top/news/arrow.svg" alt="">
    <h2 class="mb-1">Caracteristicas</h2>
</div>

<div class="grid grid-cols-2 gap-4">
    {{> "systems/roe/templates/partials/antagonist/information.hbs"}}

    {{> "systems/roe/templates/partials/protagonist/attributes.hbs"}}
</div>    

<div class="my-4 roe-section">
    <img class="mb-1" src="https://jp.finalfantasyxvi.com/assets/images/top/news/arrow.svg" alt="">
    <h2 class="mb-1">Equipamentos e Ações</h2>
</div>

<div class="grid grid-cols-2 gap-4">
    {{> "systems/roe/templates/partials/protagonist/equipments.hbs"}}

    {{> "systems/roe/templates/partials/protagonist/actions.hbs"}}
</div>

<div class="my-4 roe-section">
    <img class="mb-1" src="https://jp.finalfantasyxvi.com/assets/images/top/news/arrow.svg" alt="">
    <h2 class="mb-1">Habilidades e Sortilégios</h2>
</div>

<div class="grid grid-cols-2 gap-4">
    {{> "systems/roe/templates/partials/protagonist/abilities.hbs"}}

    {{> "systems/roe/templates/partials/protagonist/spells.hbs"}}
</div>